.post-detail-container {
    min-height: 89.1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 100px;
    padding-block-end: 90px;
}

@media screen and (max-width: 600px) {
    .post-detail-container {
        padding-inline: 30px;
        text-align: center;
    }
    .post-details-heading {
        font-size: 16px !important;
    }
    .post-content {
        font-size: 14px !important;
    }
}

.post-id {
    color: #9e15b6;
    font-size: 14px;
}

.post-detail-container h1 {
    font-size: 36px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #480052;
    letter-spacing: 1rem;
}

.post-content {
    font-size: 22px;
    color: #831395;
}

.post-details {
    color: #831395;
    font-size: 14px;
}

.post-details span {
    color: #480052;
    font-size: 16px;
    font-weight: 500;
}

.link-details {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    margin-left: 15px;
    color: #9e15b6 !important;
}

.edit-icon {
    margin-left: 6px;
}

.post-details-heading {
    text-align: center;
    letter-spacing: 1px !important;
}

