@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Matemasie&display=swap');

.header {
    padding-inline: 40px;
    background-image: linear-gradient(to right, #e372ff, #fcf3ff);
    padding-block: 12px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: "Matemasie", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #470052;
}

.header-theme-container {
    display: flex;
    align-items: center;
}

.theme-btn {
    margin-right: 40px;
    background-color: transparent;
    border: none;
    color: #e372ff;
    cursor: pointer;
}

.theme-btn-dark {
    margin-right: 40px;
    background-color: transparent;
    border: none;
    color: #470052;
    cursor: pointer;
}

.header-login-btn {
    text-transform: capitalize !important;
}

.header-login-btn:hover {
    background-color: #9d15b6 !important;
}

.header-ul {
    display: flex;
    list-style: none;
    padding: 0px;
    align-items: center;
}

.header-ul li {
    margin-inline: 15px;
    font-size: 15px;
    font-weight: 500;
}

.link-header {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-icon {
    margin-right: 5px;
}

.link-header:hover {
    color: #d13df8;
}

@media screen and (max-width: 600px) {
    .home-section-link {
        display: none;
    }
    .header-theme-container {
        display: none;
    }
    .header-ul {
        display: none;
    }
}

@media screen and (min-width: 601px) {
    .menu{
        display: none;
    }
}

.home-section-link {
    display: flex;
    align-items: center;
}