@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.main-conatiner {
  min-height: 89.1vh;
  background-image: linear-gradient(#fcf3ff, #f9e7ff, #f3ceff);
}